<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Token skickad</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <h2>Inloggningslänk skickad</h2>
    <p>Vi har skickat en länk till din e-postadress.</p>
    <p>Öppna mejlet och klicka på länken för att slutföra inloggningen.</p>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>